.banner{
    display: flex;
    justify-content: center;
  }
  
.banner img{
    width: 100%;
 }
  
 @media (width > 960) {

  .banner{
      width: 960px;
      margin: auto;
  }

 }

  /* @media (width > 1439px){
    .banner img{
      width: 1440px;
      height: 800px;
    }
  
  } */